@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /*font principal*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Black'); /*title*/

/* ===========================
======== animations ==========
============================*/

/* floating */

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate3d(0, -20px, 0); }
    65%  { transform: translate3d(0, 0px, 0); }
    to   { transform: translate3d(0, -20px, 0); }    
}

/* fade in titulo*/

.fadeInTitle {
    animation: fadeInTitle;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translate3d(0px, -50px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0);
    }
}

/* typing */

@keyframes typing {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* black/white theme */

.cropo, p, h1, .habilidades, .sobre-mim, .parallax-noscroll, .port, .black-theme, .black-theme img {
    transition: background .4s ease, color .4s ease, filter .4s ease;
}

/* fade-in text/port */

.fade {
    opacity: 0;
    transition: .15s;
    transform: translate3d(-100px,0,0);
}

.fadeport {
    opacity: 0;
    transform: translate3d(0,25px,0);
    transition: .15s;
}

.fade-begin {
    opacity: 1;
    transform: translate3d(0,0,0);
}

/* ============================
========= overall ============ 
============================ */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Roboto', 'Arial Narrow',Arial, sans-serif;
    color: white;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ============================
========== header ============= 
============================ */

header {
    position: sticky;
    /*background-color: #1a0748;*/
    /*background-color: black;*/
    background: #408048;
    opacity: .99;
    text-align: center;
    z-index: 100;
    top: 0;
    width: 100vw;
    height: 15vh;
    font-size: 4vh;
}

header ul {
	width: auto;
	margin: auto;
}

header ul, header ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    height: 15vh;
    transition: background 0.1s ease;
}

header ul li {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

ul:hover li {
    opacity: .5;
    transition: filter 0.1s ease, opacity 0.1s ease;
    transition-delay: 0.05s;
    filter: blur(1px);
}

ul li:hover {
    opacity: 1;
    filter: blur(0px);
}

.lkmenu {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color .3s;
}

.lkmenu:hover {
    color: #134571;
    transition: color .3s;
}

.white-bg:hover {
    background: white;
    transition: background .3s, color .3s;
    color: #408048;
}

.white-bg:hover a {
    color: #408048;
    transition: color .3s;
}

.parallax {
    width: 100vw;
    height: 85vh;
    /*padding-top: 20vh; menu*/
    box-sizing: border-box;
}

.parallax::before {
    content:'';
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url(../img/bg2.jpg);
    transition: background-image 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
    transform:translateZ(-1px) scale(2);
}

.parallax-wrapper {
    height: 85vh;
    line-height: 85vh;
    text-align: center;
    font-family: 'Archivo Black', sans-serif; 
    font-size: 13vw;
    margin: auto;
    
}

.text-wrapper-parallax {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-top: 25vh;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(0, 0, 0, 0.5)
}

h3::before {
    content: '';
    display: block;
    height: 5px;
    width: 50%;
    background: white;
    margin: 0 auto;
    border-radius: 5px;
}

h3::after {
    content: '';
    height: 4vh;
    width: .5vw;
    display: inline-block;
    background: white;
    animation: typing .4s ease infinite;
    margin-top: 5px;
}

#icon {
    float: right; 
    margin-right: 1.2vw;
}

label[for="bt_menu"] {
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2vh;
    font-size: 10vh;
    padding: 2vh;
    padding-left: 2vw;
    float: left;
}

#bt_menu, #icon, label[for="bt_menu"]{
    display: none;
}

/* ===========================
=========== body ============ 
============================ */

.cropo {
    padding: 50px 61px 0 61px;
    background-color: white;
    color: black;
    z-index: 2;
    position: relative;
}

.black-theme {
    text-align: center;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all .3s ease;
    font-weight: bold;
}

.black-theme:hover {
    transform: scale(1.1);
}

h1::after {
    content:'';
    margin: 10px auto 20px auto;
    display: block;
    width: 20%;
    height: 4px;
    background: currentColor;
    border-radius: 10px;
}

.sobre-mim::after, .habilidades::after, .parallax-noscroll::after {
    width: 0;
    margin-left: -60px;
    border-style: solid;
    border-width: 100px 100vw 0 0;
    border-color: currentColor transparent transparent transparent;
    filter: drop-shadow(0px 5px 2px rgba(0,0,0,.6));
    z-index: 2;
}

.sobre-mim::after {
    display: block; 
    margin-top: 20px;
    content:'';
}

p {margin: 15px 0;}

.body-p {margin-top: 10vh;}

/* ============================
=========== jobs ============== 
============================ */

.banner {
    width: 100.1%;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    background: black;
    color: white;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .8;
    z-index: -1;
    filter: blur(1px);
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .8;
    z-index: -1;
    filter: blur(1px);
}

.habilidades {
    position: relative;
    width: 100%;
    height: auto;
    margin: 30px 0;
}

#titleH {
    text-align: center; 
    margin: 35px 0;
}

.port-left, .port-right, .port-center {
    height: auto;
    width: 32%;
    background: white;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
    transition: transform .2s ease;
    border-radius: 5px;
    flex-flow: row wrap;
}

.port-left {float: left; margin-bottom: 50px}

.port-right {float: right}

.port-center {margin-left: 1.9%;}

.port {color: black;}

.port #links, .port #links a {
    color: #408048;
    text-decoration: none;
    text-align: center;
}

.port #links a:hover {font-weight: bold;}

.port:hover {transform: scale(1.05);}

.desc {padding: 20px;}

.habilidades::after {
    display: block; 
    border-width: 100px 100vw 0;
    margin-top: 100px;
    left: -10px;
    position: relative;
    content:'';
    clear: both;
}

/* ===========================
========= contato ===========
============================ */

.parallax-noscroll {
    background-image: url("../img/bg3.jpg");
    height: auto;
    margin: -129px -65px 0 -65px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0px);
}

.parallax-noscroll-wrapper {
    height: auto;
    background: #00000090;
    text-align: center;
    padding: 100px 0;
    padding-bottom: 150px;
}

form {
    width: 75vw;
    margin: auto;
    margin-top: 30px;
    font-size: 1.5vw;
}

form span {
    color: red;
    font-size: 1vw;
}

#form-name, #form-email, #form-message {
    text-align: left;
    float: left; 
    width: 48%;
}

#form-email {float: right}

#form-message {float: 0; width: 100%; margin-top: 20px;}

input[type=text], input[type=email] {
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    width: 100%;
    transition: border .1s ease;
    outline: none;
    border: 2px solid #00000000;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    resize: vertical;
    outline: none;
}

.form-error {background: #ff9b9b;}

button[type=submit] {
    margin-top: 40px;
    cursor: pointer;
    padding: 16px 32px;
    height: 56px;
    background-color: #408048;
    border: none;
    color: white;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    transition: transform .5s ease;
}

button[type=submit]:hover {transform: scale(1.05);}

input[type=text]:focus, input[type=email]:focus {border: 2px solid #555;}

.parallax-noscroll::after {
    content:'';
    display: block;
    margin-left: 0;
    transform: rotate(180deg);
    margin-top: -98px;
}

.social-media {
    height: 60px;
    padding: 40px 0 40px 0;
    text-align: center;
}

.social-media img {
    margin: 0 15px;
    transition: all .2s ease;
}

.social-media img:hover {
    transform: scale(1.3);
}



/* ===========================
========== footer ============ 
============================ */

footer {
    padding: 25px 61px;
    min-height: auto;
    background: #000000fa;
    color: white;
    z-index: 2;
    position: relative;
    text-align: center;
}

/* ===========================
========= "mobile" =========== 
============================ */

@media (max-width: 800px) {
    #titleH {margin: 1vh 0;}

    .banner {height: 100px;}

    .port {width: 100%; margin: 50px 0;}

    #form-name, #form-email {width: 100%;}

    #form-email {margin-top: 20px;}

    form {font-size: 2.5vw;}

    .social-media {height: 120px;}

    .habilidades::after {margin-top: 0;}

    .parallax-wrapper {font-size: 13vh}
	
    header {opacity: 1}
	
    header ul li {
        width: 100vw;
        line-height: 15vh;
        background: #397540;
        display:block;
        padding: 0;
        height: 0;
        font-size: 0;
        transition: height .3s ease, font-size .1s ease;;
    }
    header ul {
        padding: 0;
        margin-top: -.5vh;
        height: 0;
    }
    #icon, label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ ul li {
        height: 15vh;
        font-size: 5vw;
    }
    .menu-img {
        display: none;
    }
    ul:hover li {
        filter: blur(0);
        opacity: 1;
    }
    .social-media {
        height: auto;
    }
}

/* ===========================
=========== end ============= 
============================ */